*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

nav{
    background: #4d7ee5;
    padding: 10px 5px 10px;
    box-sizing: border-box;
}

nav img{
    width: 100%;
    max-width: 150px;
    border: 5px solid #4365af;
    padding: 10px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 26px;
    background: white;
}


nav a#navigate{
    display: none;
}

nav li{
    width: 90%;
    font-size: 25px;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    margin: 14px auto;
}

nav li a{
    color: white;
    font-weight: 800;
    text-align: center;
}

li.current{
    background: white;
}

a.current{
    color: #4d7ee5;
}

form{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    background: #4d7ee5;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

form input:nth-of-type(1){
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    border: 2px solid #4d7ee5;
    outline: none;
    color: #4d7ee5;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form input:nth-of-type(2){
    text-align: center;
    padding: 4px;
    width: 98%;
    margin: 0px 1%;
    border: 0;
    outline: none;
    background: #4d7ee5;
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

form input:nth-of-type(2):hover{
    background: white;
    color: #4d7ee5;
    transition: .6s;
}



/* START GRID SYSTEM */

nav,
nav ul,
form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

nav > img{
    grid-column: 1/4;
}

nav a{
    grid-column: 1/13;
}

nav > ul{
    grid-column: 4/13;
}

nav ul li a{
    font-size: 21px;
}

nav li:nth-of-type(1){
    grid-column: 6/8;
}

nav li:nth-of-type(2){
    grid-column: 8/10;
}

nav li:nth-of-type(3){
    grid-column: 10/12;
}

form input:nth-of-type(1){
    grid-column: 1/13;
}

form input:nth-of-type(2){
    grid-column: 4/10;
}

/* END GRID SYSTEM */

/* START MEDIA QUERY */

@media screen and (max-width: 960px){

    form{
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav > img{
        grid-column: 2/12;
    }
    
    nav > ul{
        grid-column: 2/12;
    }
    
    nav li:nth-of-type(1){
        grid-column: 4/6;
    }
    
    nav li:nth-of-type(2){
        grid-column: 6/8;
    }
    
    nav li:nth-of-type(3){
        grid-column: 8/10;
    }

}

@media screen and (max-width: 790px){

    form{
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    nav{
        padding-bottom: 6px;
    }

    nav img{
        margin-bottom: 10px;
    }

    nav ul{
        overflow: hidden;
        background: white;
        height: 0;
        grid-column: 1/13;
    }

    nav ul.open{
        height: auto;
    }

    nav img.logo{
        margin: 0 auto;            
    }

    nav li > a{
        margin: 0px !important;
        padding: 12px 0px 4px;
        cursor: pointer;
        color: white !important;
    }

    nav li > a.current{
        color:#2727a8 !important;
    }

    nav li{
        margin: 0;
        padding: 2px 0px 12px;
        background: #2727a8;
        color: white
    }

    nav ul li:nth-of-type(1),
    nav ul li:nth-of-type(2),
    nav ul li:nth-of-type(3){
        grid-column: 1/13;
        width: 100%;
        border-radius: 0;
    }

    nav a{
        font-size: 13px !important;
        color: white !important;
    }

    a#navigate{
        display: block !important;
        height: 40px;
        width: 100%;                                    /* appear in 90% x-coordinates */
        background: url(../img/navigation.png) no-repeat 95% center;
        cursor: pointer;                                    /* appear in center y-coordinates */
        background-color: white;
        margin-bottom: 6px;
    }

}

/* END MEDIA QUERY */