*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100%;
    background: url(../img/techbackgroundFiltered.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

body a{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

a.preview{
    width: 100%;
    max-width: 130px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #4d7ee5;
    padding: 7px 0px;
    background: #f0efef;
    border-radius: 10px;
    box-shadow: 4px 4px #2727a8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

a.preview > p{
    position: relative;
    top: 7px;
    margin-left: 5px ;
}

div.showError{
    z-index: 2;
    color: white;
    font-size: 11px;
    margin: 0 !important;
    padding: 10px 0px 0px !important;
}

img.displayOperator{
    position: absolute;
    top: 12px;
    right: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    background: #5891ed;
    border-radius: 50%;
}

button:hover{
    cursor: pointer;
}

form{
    width: 95%;
    max-width: 350px;
    background: #4d7ee5;
    padding: 20px 20px 5px;
    border-radius: 20px;
    border: 3px solid #e0e0e0;
    text-align: center;
    box-sizing: border-box;
}

form h3{
    margin-bottom: 10px;
    color: white;
}

form input{
    width: 80%;
    font-size: 21px;
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
    color: #5891ed;
    outline: none;
    border: 0;
    border: 3px solid #e0e0e0;
}

form button{
    margin: 7px 0px 15px;
    border: 0;
    outline: none;
    font-size: 14px;
    padding: 7px 10px;
    background: #2727a8;
    color: white;
}

/* START MEDIA QUERY */

@media screen and (max-width: 800px) {

    body{
        background: white;
    }
    
    
}
/* END MEDIA QUERY */